/* Home */

.main {
    background-color: #000000;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    background-image: url(/img.png);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position-x: 20px;
    background-position: right;
}

.heading {
    margin: 20px;
    font-size: 34px;
    text-transform: uppercase;
}

.button button {
    background-color: #f3ec8d;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.imgcont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 600px;
    flex-wrap: wrap;
}

.image {
    width: 800px;
    position: absolute;
    left: 10px;
    top: 300px;
}

.image img {
    width: 100%;
}

/* Polychromatic Page */

.polymain {
    color: #ffffff;
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* background-image: url(/galaxy.jpeg);
  background-position: center; 
  background-repeat: repeat; 
  background-size: cover; 
  background-size: 100%; */
}

.headcon {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headcon p {
    font-size: 30px;
    margin: 10px;
    align-items: center;
    text-align: center;
}

.headtitle {
    font-size: 30px;
    margin: 10px;
    text-align: center;
    color: #f3ec8d;
}

.thead {
    font-size: 20px;
}

.table,
.thead {
    border: 1px solid #ffffff;
    padding: 20px;
    width: 80%;
    text-align: center;
}

.button {
    background-color: #f3ec8d;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
